<launch>
    <node ns="motor_a" pkg="omniwheel" type="MotorController.py" name="dc_motor" respawn="true">
        <param name="pin_a" type="int" value="25"/>
        <param name="pin_b" type="int" value="28"/>
    </node>

    <node ns="motor_b" pkg="omniwheel" type="MotorController.py" name="dc_motor" respawn="true">
        <param name="pin_a" type="int" value="24"/>
        <param name="pin_b" type="int" value="27"/>
    </node>

    <node ns="motor_c" pkg="omniwheel" type="MotorController.py" name="dc_motor" respawn="true">
        <param name="pin_a" type="int" value="22"/>
        <param name="pin_b" type="int" value="26"/>
    </node>
</launch>